{% load static %}
<!DOCTYPE html>
<html lang="en">


<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <link rel="stylesheet" type="text/css" href="{% static 'css/employee.css' %}">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>

    <!-- ------------Donut-chart----- -->
    <script src="https://d3js.org/d3.v4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/billboard.js/dist/billboard.min.css" />
    <link rel="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css" type="text/css" />

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.3/jquery.min.js">
    </script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js">
    </script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/1.0.1/Chart.min.js">
    </script>
</head>

<body>
    <section class="main">
        <!-- -------left side dashboard------ -->
        <div class="dashboard dashboard-lg">
            <div class="logo">
                <div class="top">
                    <img src="{% static 'images/d-logo.png' %}" alt="">

                </div>
            </div>
            <h2>Admin Dashboard</h2>
            <nav>
                <div class="nav-item">
                    <a href="dashboard.html">
                        <div class="icon">
                            <img src="{% static 'images/d-1.png' %}" alt="">

                        </div>
                        <span class="active">Dashboard</span>
                    </a>
                </div>
                <div class="nav-item">
                    <a href="agents.html">
                        <div class="icon">
                            <img src="{% static 'images/d-2.png' %}" alt="">

                        </div>
                        <span>Agents</span>
                    </a>
                </div>
                <div class="nav-item">
                    <a href="employee.html">
                        <div class="icon">
                            <img src="{% static 'images/d-3.png' %}" alt="">

                        </div>
                        <span>Employees</span>
                    </a>
                </div>
                <div class="nav-item">
                    <a href="cities.html">
                        <div class="icon">
                            <img src="{% static 'images/d-4.png' %}" alt="">

                        </div>
                        <span>Cities</span>
                    </a>
                </div>
                <div class="nav-item">
                    <a href="orders-1.html">
                        <div class="icon">
                            <img src="{% static 'images/d-5.png' %}" alt="">
                        </div>
                        <span>Orders</span>
                    </a>
                </div>
                <!-- <div class="nav-item">
                    <a href="transection-history.html">
                        <div class="icon">
                            <img src="images/d-6.png" alt="">
                        </div>
                        <span>Transection<br> history</span>
                    </a>
                </div> -->
                <div class="nav-item">
                    <a href="add-balance.html">
                        <div class="icon">
                            <img src="{% static 'images/d-7.png' %}" alt="">
                        </div>
                        <span>Add Balance</span>
                    </a>
                </div>
                <div class="nav-item">
                    <a href="finance-and-profits.html">
                        <div class="icon">
                            <img src="{% static 'images/d-8.png' %}" alt="">
                        </div>
                        <span>Finance <br> & Profits</span>
                    </a>
                </div>
                <div class="nav-item">
                    <a href="expenses.html">
                        <div class="icon">
                            <img src="{% static 'images/d-9.png' %}" alt="">
                        </div>
                        <span>Expenses</span>
                    </a>
                </div>
                <div class="nav-item">
                    <a href="payroll.html">
                        <div class="icon">
                            <img src="{% static 'images/d-10.png' %}" alt="">
                        </div>
                        <span>Payroll</span>
                    </a>
                </div>
                <div class="nav-item">
                    <a href="chat.html">
                        <div class="icon">
                            <img src="{% static 'images/d-11.png' %}" alt="">
                        </div>
                        <span>Chat</span>
                    </a>
                </div>
            </nav>
        </div>
        <!-- ----responsive-dashboar--- -->
        <div class="dashboard dashboard-res">
            <div class="logo">
                <div class="top toggler-res">
                    <img src="images/ham.png" alt="">
                </div>
            </div>
            <!-- <h2>Admin Dashboard</h2> -->
            <nav>
                <div class="nav-item">
                    <a href="dashboard.html">
                        <div class="icon">
                            <img src="{% static 'images/d-1.png' %}" alt="">
                        </div>
                    </a>
                </div>
                <div class="nav-item">
                    <a href="agents.html">
                        <div class="icon">
                            <img src="{% static 'images/d-2.png' %}" alt="">
                        </div>
                    </a>
                </div>
                <div class="nav-item">
                    <a href="employee.html">
                        <div class="icon">
                            <img src="{% static 'images/d-3.png' %}" alt="">
                        </div>
                    </a>
                </div>
                <div class="nav-item">
                    <a href="cities.html">
                        <div class="icon">
                            <img src="{% static 'images/d-4.png' %}" alt="">
                        </div>
                    </a>
                </div>
                <div class="nav-item">
                    <a href="orders-1.html">
                        <div class="icon">
                            <img src="{% static 'images/d-5.png' %}" alt="">
                        </div>
                    </a>
                </div>
                <!-- <div class="nav-item">
                    <a href="transection-history.html">
                        <div class="icon">
                            <img src="images/d-6.png" alt="">
                        </div>
                    </a>
                </div> -->
                <div class="nav-item">
                    <a href="">
                        <div class="icon">
                            <img src="{% static 'images/d-7.png' %}" alt="">
                        </div>
                    </a>
                </div>
                <div class="nav-item">
                    <a href="finance-and-profits.html">
                        <div class="icon">
                            <img src="{% static 'images/d-8.png' %}" alt="">
                        </div>
                    </a>
                </div>
                <div class="nav-item">
                    <a href="expenses.html">
                        <div class="icon">
                            <img src="{% static 'images/d-9.png' %}" alt="">
                        </div>
                    </a>
                </div>
                <div class="nav-item">
                    <a href="payroll.html">
                        <div class="icon">
                            <img src="{% static 'images/d-10.png' %}" alt="">
                        </div>
                    </a>
                </div>
                <div class="nav-item">
                    <a href="chat.html">
                        <div class="icon">
                            <img src="{% static 'images/d-11.png' %}" alt="">
                        </div>
                    </a>
                </div>
            </nav>
        </div>
        <!-- -------right side main content------ -->
        <div class="main-content">
            <nav>
                <div class="logo">
                    <div class="toggler-res-nav">
                        <img src="{% static 'images/white-ham.png' %}" alt="">

                    </div>
                </div>
                <div class="top">
                    <img src="{% static 'images/profile-img.png' %}" alt="">

                </div>
            </nav>
            <!-- ------main-content -->
            <section class="con-inner">
                <div class="container">
                    <div class="con-head">
                        <div class="heading">
                            <a href="agents.html">
                                <div class="back-btn">
                                    <img src="{% static 'images/Icon material-arrow_back.png' %}" alt="">

                                </div>
                            </a>

                            <h4>Add New Employee :</h4>
                        </div>
                    </div>
                    <div class="sub-head">
                        <h4>Add new Employee</h4>
                    </div>
                    <div class="add-new-main">
                        <div class="grid-container">

                        </div>
                        <form id="contact" action={% url 'add_employee_view' %} method="post">
                            {% csrf_token %}
                            <div class="fields-main">
                                <div class="input-field">
                                    <label for="user_id">ID</label>
                                    <input type="text" name="user_id" id="user_id">
                                </div>
                                <div class="input-field">
                                    <label for="user_name">User name</label>
                                    <input type="text" name="user_name" id="user_name" required>
                                </div>
                                <div class="input-field">
                                    <label for="phone">Phone</label>
                                    <input type="text" name="phone" id="phone" required>
                                </div>
                                <div class="input-field">
                                    <label for="Address">Address</label>
                                    <input type="Address" name="Address" id="Address" required>
                                </div>
                                <div class="input-field">
                                    <label for="Email">Email</label>
                                    <input type="text" name="Email" id="Email" required>
                                </div>
                                <div class="input-field">
                                    <label for="Country">Country</label>
                                    <input type="text" name="Country" id="Country" required>
                                </div>
                                <div class="input-field">
                                    <label for="City">City</label>
                                    <input type="text" name="City" id="City" required>
                                </div>
                                <div class="input-field">
                                    <label for="password">Password</label>
                                    <input type="password" name="password" id="password" required>
                                </div>
                                <div class="submit-btn">
                                    <input type="submit" value="Create Employee" name="submit">
                                </div>
                            </div>
                            <div class="img-main">
                                <div class="upload-img">
                                    <img src="{% static 'images/upload-img.png' %}" alt="">

                                </div>
                                <div class="upload-btn">
                                    <input type="file" class="custom-file-input">
                                </div>
                            </div>
                        </form>


                        <div id="map"></div>
                    </div>
                </div>
            </section>
</body>

</html>
<script>
    // ---responsive navbar----
    $(document).ready(function () {
        $(".toggler-res").click(function () {
            $(".dashboard-res").css("display", "none");
            $(".toggler-res-nav").css("display", "flex");
            $(".main-content").css("width", "calc(100% - 0px)");
        });
    });

    $(document).ready(function () {
        $(".toggler-res-nav").click(function () {
            $(".dashboard-res").css("display", "block");
            $(".toggler-res").css("display", "flex");
            $(".toggler-res-nav").css("display", "none");
            $(".main-content").css("width", "calc(100% - 80px)");
        });
    });
</script>